<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Your feedback has been sent!</h1>
        <hr>
        <h3 class="text-center">Tell us more?</h3>
        <div class="col-6 offset-3">
            <form action="/reviews/<%= review._id %>?_method=PUT" method="POST" novalidate class="validated-form">

                <div class="mb-3">
                    <div class="form-check"
                    style="padding-top: 19px; top: 1.2rem;
                    scale: 1.7;
                    margin-right: 0.8rem;">
                        <input id="clean" class="form-check-input" type="checkbox" value="true" name="review[clean]" 
                        style="top: 1.2rem;
                        scale: 1.7;
                        margin-right: 0.8rem;">
                        <label class="form-check-label" for="clean">
                            Clean
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check"
                    style="padding-top: 19px; top: 1.2rem;
                    scale: 1.7;
                    margin-right: 0.8rem;">
                        <input class="form-check-input" type="checkbox" value="true" id="goodService"
                            name="review[goodService]"
                            style="top: 1.2rem;
                        scale: 1.7;
                        margin-right: 0.8rem;">
                        <label class="form-check-label" for="goodService">
                            Good Service
                        </label>
                    </div>
                </div>

                <hr>

                <div class="mb-3">
                    <div class="form-outline"
                    style=" padding-top: 15px; scale: 1.2;">
                        <label class="form-label" for="details" style="scale: 1.5; padding-top: 19px; top: 1.2rem; margin-right: 0.8rem; ">Details</label>
                        <textarea class="form-control" type="text" id="details" name="review[details]" rows="5"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
            </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-success btn-lg">Submit</button>
                </div>

            </form>
        </div>
    </div>